
<ActionBar>
  
  <Label [text]="'Hoş geldiniz, ' + username" ios.position="left" android.position="actionBar"></Label>
  <ActionItem text="Çıkış Yap" (tap)="logout()" ios.position="right" android.position="actionBar"></ActionItem>

</ActionBar>

<StackLayout height="100%">
  <ListView [items]="tasks" height="80%" (itemTap)="onItemTap($event)">
    <ng-template let-task="item">
      <StackLayout class="list-group-item">
        <Label class="text-line" [text]="'Görev Adı: ' + task.title"></Label>
        <Label class="text-line" [text]="'Durum: ' + task.status"></Label>
        <Button  class="edit-button" text="Düzenle" (tap)="navigateToEditTask(task)"></Button>
      </StackLayout>
    </ng-template>
  </ListView>
  <Button style="background-color: rgb(38, 161, 55); color: white;" text="Yeni Görev Ekle" (tap)="navigateToAddTask()"></Button>
  <img style="width: 250px; height: 250px;" src="https://i.imgur.com/Kw2AEku.png" class="2ogo">
</StackLayout>
